In [1]:
import pandas as pd
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df

     이름   학교    키   국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197   90   85  100  95  85      Python
2번  정대만  북산고  184   40   35   50  55  25        Java
3번  송태섭  북산고  168   80   75   70  80  75  Javascript
4번  서태웅  북산고  187   40   60   70  75  80
5번  강백호  북산고  188   15   20   10  35  10
6번  변덕규  능남고  202   80  100   95  85  80           C
7번  황태산  능남고  188   55   65   45  40  35      PYTHON
8번  윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [3]:
df.to_csv('data/score.csv')

In [4]:
df = pd.read_csv('data/score.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지원번호    8 non-null      object
 1   이름      8 non-null      object
 2   학교      8 non-null      object
 3   키       8 non-null      int64
 4   국어      8 non-null      int64
 5   영어      8 non-null      int64
 6   수학      8 non-null      int64
 7   과학      8 non-null      int64
 8   사회      8 non-null      int64
 9   SW특기    6 non-null      object
dtypes: int64(6), object(4)
memory usage: 768.0+ bytes

In [6]:
df.head(3)

  지원번호   이름   학교    키  국어  영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197  90  85  100  95  85      Python
1   2번  정대만  북산고  184  40  35   50  55  25        Java
2   3번  송태섭  북산고  168  80  75   70  80  75  Javascript

In [7]:
df.tail(3)

  지원번호   이름   학교    키   국어   영어  수학  과학  사회    SW특기
5   6번  변덕규  능남고  202   80  100  95  85  80       C
6   7번  황태산  능남고  188   55   65  45  40  35  PYTHON
7   8번  윤대협  능남고  190  100   85  90  95  95      C#

In [8]:
df.values

array([['1번', '채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['2번', '정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['3번', '송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['4번', '서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['5번', '강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['6번', '변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['7번', '황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['8번', '윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [9]:
df.columns

Index(['지원번호', '이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [10]:
df['키'].min(), df['키'].max(), df['키'].mean()

(np.int64(168), np.int64(202), np.float64(188.0))

In [11]:
min = df['키'].min()
print(f'가장작은키:{min}')

가장작은키:168

In [12]:
df['키'].nlargest(3)

5    202
0    197
7    190
Name: 키, dtype: int64

In [13]:
df['SW특기'].count

<bound method Series.count of 0        Python
1          Java
2    Javascript
3           NaN
4           NaN
5             C
6        PYTHON
7            C#
Name: SW특기, dtype: object>

In [14]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)