In [ ]:
import pandas as pd
df = pd.read_csv('data/score.csv', index_col='지원번호')
df.iloc[[0, 2],[0, 2]]

       이름    키
지원번호
1번    채치수  197
3번    송태섭  168

In [3]:
df.iloc[0:5, 0:3]

       이름   학교    키
지원번호
1번    채치수  북산고  197
2번    정대만  북산고  184
3번    송태섭  북산고  168
4번    서태웅  북산고  187
5번    강백호  북산고  188

In [14]:
cols=df.columns
cols

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [15]:
df.iloc[-1, -1]

'C#'